/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #000000FF;
    background-alt: #282839FF;
    border:         #e76f8b;
    selected:       #e0b2a5;
    active:         #efb3a1;
    urgent:         #e0b2a5;
}
